@import "../variables";

.footer {
    width: 100%;
    padding: 40px 0px;
    background-color: rgba(221, 227, 233, 0.34);

    .footerWrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        a {
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: #000000;
        }

        h3 {
            font-weight: 500;
            line-height: 20px;
            color: #000000;
            margin-bottom: 20px;
        }

        .footerBuyers, .footerNavigation {

            div {
                display: flex;
                flex-direction: column;
                
                a {
                    margin-bottom: 10px;
                }
            }
        }

        .footerItems {

            div {
                display: flex;
                align-items: center;
                margin-bottom: 10px;

                img {
                    margin-right: 5px;
                }
            }
        }
    }
}