.modal {
  width: 100%;
  position: absolute;
  top: 133px;
  left: 0;
  z-index: 10;

  .modalWrapper {
    height: 0;
    background-color: #fff;
    transition: 0.3s;
  }

  .modalWrapper.active {
    height: 500px;
  }
}

.modalContent {
  display: none;

  a {
    display: inline-block;
    margin-bottom: 5px;
  }
}

.modalContent.active {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
